* {
    box-sizing: border-box;
    font-family: Verdana, sans-serif
   }

   html, body {
    margin: 0;
    padding: 0;
    height: 100%;
          
   }


  a {
    text-decoration: none;
  }
  
  header {
    border: 1px thick black;
    height: 100px;
    width: 100%;
    height: 15%;
    display: block;
    background-color: #001f3f;
  }

  header a {
    color: white;
    display: inline-block;
    text-align: right;
    font-weight: 900;
    text-transform: uppercase;
    height: 100%;
    padding: 15px;
    margin: 15px;
    letter-spacing: 1px;
  }

  header a:hover {
    background-color: red;
    
  }
  
  nav {
    border: 2px solid black;
    width: 100%;

  }
  
  
  main {
    background-color: blanchedalmond;
    border: 1px solid black;
    width: 100%;
    height: 45%;
    min-height: 79vh; /* cubre 100% del viewport. */
  
  }

 main div img {
     width: 150px;
     padding: 10px;
 }
  
  footer {
    background-color: #001f3f;
    border: 1px thick black;
    width: 100%;
    color: white;
  }

  header, nav, main, footer {
      float: left;
  }
  


 
  
  /* IDs del header */

 
  #logo-box {
      width: auto;
      
  }
  
  #logo {
    width: 70px;
    height: 70px;
    margin: 10px 15px 10px 15px;
    background-color: red;
    border-radius: 100px;
  }
  
  #header-containers {
    display: inline-block;
  }
 
  #links {
    text-align: right;
    width: 50%;
    float: right;

  }


   /* IDs del nav */

   #tus-productos {
    width: 50%;
    float: left;
    text-align: center;
    border: 2px solid red;
    color: white;
    font-size: 25px;
    padding: 30px;
    background-image: url(/images/tarjetas-credito-carrito/gamepad.jpg);
    background-size: cover;
    
}


#fin-transaccion {
  width: 50%;
  float: left;
  text-align: center;
  font-size: 25px;
  opacity: 0.5;
  padding: 30px;
  color: white;
  background-image: url(/images/tarjetas-credito-carrito/tarjeta.jpg);
  background-size: cover;
  height: 100%;
  border: 2px solid black;
 
  
}


#fin-transaccion:hover {
background-color: #434344;
color: black;
opacity: 1;
}


/* IDs y classes del main */


  .productos  {
      border: 1px solid black;
      margin: 10px;
      padding: 10px;
      width: 25%;
      background-color: #CCBCA4;
      display: inline-block;

  }


  #eliminar {
      display: block;
      margin: 3px;
  }


#precio-producto {
float: right;
background-color: #7F7566;
border-radius: 5px;
color: white;
border: 2px solid black;
}

 

  /* IDs del footer */

  #tarjetas-de-credito {
display: inline-block;

    }

 #tarjetas-de-credito p {
   margin: 0;
   padding: 0;
 }

#tarjetas-de-credito img {
height: 40px;
border-radius: 10px;
border: 2px solid black;
}

#copyright {
  float: right;
  }