<footer>
          
    <div id="tarjetas-de-credito">
     <p> Pagá al contado o en cuotas con las siguientes tarjetas de crédito:
     </p>  
     <img src="/images/tarjetas-credito-carrito/american.PNG" alt ="logo american express">
     <img src="/images/tarjetas-credito-carrito/mastercard.png" alt ="logo mastercard">
     <img src="/images/tarjetas-credito-carrito/visa.PNG" alt ="logo visa">
    </div>
 

   <div id="copyright">
     <span>
       © 2019 TODOS LOS DERECHOS RESERVADOS. 
     </span>
   </div>

   
</footer>