<header>
    <div id = "logo-container"> 
        <img id="logo" src="\images\tarjetas-credito-carrito\game-1926906_1280.png">  
    </div>  
    
    <div id= "links">
    <a href="/ingreso-usuario"> Ingresar </a>
    <a href="/registrate"> Registro </a>
    <a href="/"> Inicio </a>
  </div>

</header>