* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
   }

   header, nav, main, footer {
    float: left;
}


   html, body {
    margin: 0;
    padding: 0;
          
   }


  a {
    text-decoration: none;
  }
  
  header {
    border: 1px thick black;
    height: 100px;
    width: 100%;
    height: 15%;
    display: block;
    background-color: #001f3f;
  }

  header a {
    color: white;
    display: inline-block;
    text-align: right;
    font-weight: 900;
    text-transform: uppercase;
    height: 100%;
    padding: 15px;
    margin: 15px;
    letter-spacing: 1px;
  }

  header a:hover {
    background-color: red;
    
  }
  
  nav {
    border: 2px solid black;
    width: 100%;

  }
  
  
  main {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(47,79,79,1) 0%, rgba(0,212,255,1) 100%);
    border: 1px solid black;
    width: 100%;
    height: 45%;
    min-height: 100vh; /* cubre 100% del viewport. */
    
  }

 
  
  footer {
    background-color: #001f3f;
    border: 1px thick black;
    width: 100%;
    color: white;
  }

  h3 {
      padding: 0;
      margin: 0;
  }

  form {
      padding: 10px;
      background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(47,47,79,1) 48%, rgba(0,212,255,1) 100%);      
margin-left:20px;
margin-right:30px;
      margin-bottom: 20px;
      box-shadow: 0px 0px 5px 5px rgba(0,0,0,1);
      color: white;
      
  }

  
  /* IDs del header */

 
  #logo-box {
      width: auto;
      
  }
  
  #logo {
    width: 70px;
    height: 70px;
    margin: 10px 15px 10px 15px;
    background-color: red;
    border-radius: 100px;
  }
  
  #header-containers {
    display: inline-block;
  }
 
  #links {
    text-align: right;
    width: 50%;
    float: right;

  }



   /* IDs del nav */

   #tus-productos {
    border: 2px solid black;
    width: 50%;
    float: left;
    text-align: center;
    color: white;
    font-size: 25px;
    padding: 30px;
    background-image: url(/images/tarjetas-credito-carrito/gamepad.jpg);
    background-size: cover;
    
}


#fin-transaccion {
    border: 2px solid red;
  width: 50%;
  float: left;
  text-align: center;
  font-size: 25px;
  opacity: 0.5;
  padding: 30px;
  color: white;
  background-image: url(/images/tarjetas-credito-carrito/tarjeta.jpg);
  background-size: cover;
  height: 100%;
  opacity: 1;
  
}




/* IDs del main */



#texto-main button {
  border: 2px solid black;
  font-family: "Gotham-Medium",sans-serif;
  text-transform: uppercase;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 30px;
  background: transparent;
}



main section {
  width: 50%;
  margin-top: 20px;
 display: inline-block;
      
  }

   aside {
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid red;
    margin-top: 20px;
    margin-bottom:20px;
    float: right;
  }

   p {
    margin: 3px;;
    padding: 0;
    font-size: 12px;
  }

  div .seccion-resumen {
    text-align: center;
    
    
  }


  .datos-comprador {
    text-align: center;
  }

  label.label-datos-comprador {
      padding: 10px;
      margin: 10px 0x 10px 0px;
    }
  

  .formulario-datos-usuario {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    width: 200px;
    
  
  }

  

  #total {
    
    background: #ffc671;
    border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,1);
  }
   
  #div h3 {
    padding-top: 10px;;
    margin: 0;
    display: inline-block;
    text-align: center;
  }

  #costo-total span {
    
      padding: 5px;
      display: inline-block;
      text-align: center;
      border-radius: 10px;
        background-color: brown;
        color: white;
      
      
  }

  #finalizar-compra p {
    font-size: 12px;
  }
  
  
 .thumbnails {
     width: 50px;
     height: 50px;
 }

 .productos {
    border: 1px solid black;
    margin: 0px 10px 10px 10px;
    padding-left: 7px;
    width: 110px;
    background-color: #faead2;
    float: left;
 }

 .productos span {
   font-size: 12px;
 }

 h6 {
    
     margin: 5px;
 }

 #finalizar-compra {
     text-align: center;
 }

 button.finalizar-transaccion {
   border: 3px solid brown;
   font-family: "Gotham-medium", sans-serif;
   padding: 5px 12px;
   cursor: pointer;
   border-radius: 30px;
   background: white;
   margin: 20px;
   box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
   color: #A2330D
 }


 @media (max-width: 768px) {

  main section {
    width: 90%;
    margin-left:20px;
    
  }

 

  aside {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
  }

  section {
  width: 100%;

 }

 #costo-total {
   margin-bottom: 20px;
 }
.seccion-resumen {
  margin-left:26px;
}

}
  /* IDs del footer */

  #tarjetas-de-credito {
display: inline-block;

    }

 #tarjetas-de-credito p {
   margin: 0;
   padding: 0;
 }

#tarjetas-de-credito img {
height: 40px;
border-radius: 10px;
border: 2px solid black;
}

#copyright {
  float: right;
  }