.productUser{
    text-align: center;
    margin-top: 10px;
}
div .card{
    background-color: blanchedalmond;
    color: black;
    margin-bottom: 20px;
}
div .card span{
    font-weight: bold;
}
.productUser h5{
    height: 40px;
    text-align: center;
}
