.contenedor2 {
    width: 100%;
    margin: 0% auto;
    padding-top: 5%;
    height: 100%;
}
.medios{
    width: 30%;
    float: right;
    margin: 5%;
    margin-left: 0%;
}
.medios div{
    margin: 2%;
    height: 100%;
    padding-top: 6%;
}
.medios article{
    width: 30%;
    height: 100%;
    display: inline-block;
}
.medios span{
    display: block;
}
#medios{
    margin-bottom: 5%;
    font-size: 150%;
    font-weight: bold;
}
.tarjetas{
    font-size: 110%;
    margin-bottom: 4%;
}
.cuotas{
    font-size: 90%;
}
#credito{
    background-image: url(../img/tarjetas/tarjetas-credito.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 10vh;
    margin-left: 5%;
}
#debito1{
    background-image: url(../img/tarjetas/maestro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 5%;
    height: 10vh;
}
#debito2{
    background-image: url(../img/tarjetas/VISA-símbolo.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 5%;
    height: 10vh;
}
.caracteristicas h2{
    margin-bottom: 3%;
}
.caracteristicas{
    width: 57.8%;
    margin: 2.5%;
    margin-right: 0%;
    float: left;
    border-right: solid 2px blanchedalmond;
}
.caracteristicas div{
    width: 90%;
}
.caracteristicas .ul{
    border-bottom: solid 1px black;
    margin-bottom: 4%;
}
.caracteristicas li{
    display: inline-block;
    width: 40%;
    margin-right: 8%;
    margin-bottom: 4%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.caracteristicas strong{
    font-weight: lighter;
    margin-right: 2%;
}
.caracteristicas span{
    font-size: 120%;
    font-weight: bold;
}