<!DOCTYPE html>
<html>
  <head>
    <title>Imperio Gamer</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Carga de productos para el admin</h1>
    <p>Subí los productos al sitio</p>
  </body>
</html>