<!DOCTYPE html>
<html>
  <head>
    <title>Imperio Gamer</title>
    <link rel='stylesheet' href='\stylesheets\carrito\carrito.css' />
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
    <body>
  <div class ="container"> 

      <header>
        <div id = "header-containers"> 
            <img id="logo" src="\images\tarjetas-credito-carrito\game-1926906_1280.png">  
        </div>  
        
        <div id= "links">
        <a href="#"> Ingreso </a>
        <a href="#"> Registro </a>
        <a href="#"> Volver al inicio </a>
      </div>

    </header>
  
    <nav> 
      <a href="#" id="tus-productos"> <div>  Esta es tu compra </div> </a>
      <a href="#" id="fin-transaccion" > <div>  Finalizá tu compra  </div> </a>
    </nav>

    
    <main>
      <div id="texto-main"> 
      <h2> ¡Tu carrito está vacío!</h2>
      <img src="\images\tarjetas-credito-carrito\carrito.png" alt ="hombre con carrito vacio">
      <p> No te pierdas lo último en entretenimiento digital. </p>

      <form action="https://google.com">
      <button type="button">¡Hacé clic acá para empezar tu compra!</button>
      </form>

      
    </div>
    </main>
 
    <footer>
          
     <div id="tarjetas-de-credito">
      <p> Pagá al contado o en cuotas con las siguientes tarjetas de crédito:
      </p>  
      <img src="images/tarjetas-credito-carrito/american.PNG" alt ="logo american express">
      <img src="images/tarjetas-credito-carrito/mastercard.png" alt ="logo mastercard">
      <img src="images/tarjetas-credito-carrito/visa.PNG" alt ="logo visa">
     </div>
  

    <div id="copyright">
      <span>
        © 2019 TODOS LOS DERECHOS RESERVADOS. 
      </span>
    </div>

    
    </footer>
  
  
  
  </div>
  
    </body>
  </html>