<!DOCTYPE html>
<html>
 <!-- head-->
 <%- include('./partials/headCarritoProductos') %>
 <!-- head-->
<body>
  <div class ="container"> 

<!-- header navBar-->
<%- include('./partials/headerCarrito') %>
<!-- headernavBar-->  

    
    <main>
        <section> 
          
          <div class="productos-container">
        <article class= "productos">
            <div class ="imagen-producto-container"> 
                <img class="imagen-producto" src="\images\productos-usuario\resident-evi-3-ps4.PNG" alt="resident evil 3">

                <div class="datos-producto">
                    <span> Producto: Resident Evil 3</span><br>
                    <span> Plataforma: PS4</span><br>
                    <span>Precio: $6999</span><br>
                    <span>Cantidad:</span>
                    
                    <input type="number" value="1" min="1" max="10" id = "number-button"> <br>
                    <input class ="button" type="button" value="Eliminar producto" id="eliminar"></input>
                </div>

                <div id ="precio-producto"> 
                    <span>Total</span>
                    <span> $6999</span>
                </div>
            </div>
          
                
    
               
          </article>


        <article class= "productos">
            <div class ="imagen-producto-container"> 
                <img class= "imagen-producto" src="\images\productos-usuario\FINAL-FANTASY-VII-Remake-Deluxe-Edition.jpg" alt="Final Fantasy VII">

                <div class="datos-producto">
                    <span> Producto: Final Fantasy VII</span><br>
                    <span> Plataforma: PS4</span><br>
                    <span>Precio: $7500</span><br>
                    <span>Cantidad:</span>
                    <input type="number" value="1" min="1" max="10" id = "number-button"> <br>
                    <input class ="button" type="button" value="Eliminar producto" id="eliminar"></input>
                </div>

                <div id ="precio-producto"> 
                    <span>Total</span>
                    <span> $7500 </span>
                </div>
            </div>
               
        </article>


        <article class= "productos">
          <div class ="imagen-producto-container"> 
              <img class="imagen-producto" src="\images\productos-usuario\headset.jpg" alt="headset">

              <div class="datos-producto">
                  <span> Producto: Platinum Headset</span><br>
                  <span> Plataforma: PS4</span><br>
                  <span>Precio: $7500</span><br>
                  <span>Cantidad:</span>
                  <input type="number" value="1" min="1" max="10" id = "number-button"> <br>
                  <input class ="button" type="button" value="Eliminar producto" id="eliminar"></input>
              </div>

              <div id ="precio-producto"> 
                  <span>Total</span>
                  <span> $7500 </span>
              </div>
          </div>
             
      </article>

    
      
      </div>

     <aside id="total">
  
        <h3> Total</h3>

          <div class="cupon">
            <h4>¿Tenés códigos promocionales? </h4>
            <input type="text" placeholder="Ingresalo acá" id="btn-aplicar" > 
            <input type="button" value="Aplicar" class="button"> 
           </div>

           <div id="total-descuentos">
            <span><strong> Subtotal:</strong> $22500 <span><br>
              <span><strong>Descuentos:</strong> 0 <span> <br>
                <hr>
                <span><strong>Total:</strong> $20699<span><br>
           </div>

           <button class="finalizar-transaccion"> <a href="/carrito/datos-usuario"> Continuar con el pago </a></button> 

           <div id="codigos">
            <h6>¿Querés seguir comprando? </h6>
            <input class ="button" type="button" value="Ver Más"></input> 
           </div>

        </aside>
      </section>

      
      
    </main>
    
<!-- footer begins-->
<%- include('./partials/footerCarrito') %>
<!-- footer ends-->
  
    </body>
  </html>