<!DOCTYPE html>
<html>
<!-- head-->
  <%- include('./partials/headCarritoDatosUser') %>
  <!-- head-->
 <body>
   <div class ="container"> 
 
 <!-- header navBar-->
 <%- include('./partials/headerCarrito') %>
 <!-- headernavBar-->  
 
    <main>
      <section>
        
          
        <div class="datos-comprador"> 
            
            <form action="" method ="GET"> 
              <h3>Datos del comprador</h3>
                <label class="label-datos-comprador">*Nombre y apellido</label> <br>
                <input class="formulario-datos-usuario" type="text" id="nombre" name="nombre" placeholder="Luis López"><br>
                <label class="label-datos-comprador">*DNI</label><br>
                <input class="formulario-datos-usuario" type="text" id="dni" name="DNI" placeholder="32496405"> <br>
                <label class="label-datos-comprador">*Dirección</label> <br>
                <input class="formulario-datos-usuario" type="text" id="direccion" name="direccion" placeholder="Gorostiaga 1234"> <br>
                <label class="label-datos-comprador">*Código Postal</label> <br>
                <input class="formulario-datos-usuario" type="text" id="CP" name="CP" placeholder="1884"> <br>
                <label class="label-datos-comprador"></labelclass>*Localidad/Barrio</label> <br>
                <input class="formulario-datos-usuario" type="text" id="localidad" name="localidad" placeholder="Almagro"> <br>
                <label class="label-datos-comprador">*Provincia</label> <br>
                <input class="formulario-datos-usuario" type="text" id="provincia" name="provincia" placeholder="Buenos Aires"> <br>
                <label class="label-datos-comprador">*Teléfono</label> <br>
                <input class="formulario-datos-usuario" type="text" id="telefono" name="telefono" placeholder="45467893"> <br>
                <label class="label-datos-comprador">*Correo electrónico</label>  <br>
                <input class="formulario-datos-usuario" type="text" id="email" name="email" placeholder="luis@lopez.com.ar"> <br>
              
              <div class=formulario-pago>
                  <h4>Modos de pago:</h4>
                      <div class="radio-box">
                        <label class="selector-pago">Tarjeta de crédito</label> 
                          <input class="radio" type="radio" id="tarjeta-credito" name="modo-pago" value="tarjeta-de-credito" checked>
                          <label class="selector-pago">Tarjeta de débito</label>
                           <input class="radio" type="radio" id="tarjeta-debito" name="modo-pago" value="tarjeta-de-debito">
                           <label class="selector-pago">Mercado Pago</label>
                          <input class="radio" type="radio" id="mercado-pago" name="modo-pago" value="mercado-pago">
                            
                      </div>
                          <button class="finalizar-transaccion"> <a href = "/carrito/tus-productos/datos-usuario/confirmar-datos" class="confirmar-datos-link">Hacé clic para confirmar tus datos</a></button>
            </form>
          </div>
          

            
          </div>

        
      

       
      </section>

        <aside id="total">
           
          <div class = "resumen">
            
          <div class = "resumen-titulo">
            <h3 id="finalizar-compra">Resumen</h3>
            <p> Al finalizar el pedido, aceptás los <a href="#">términos y condiciones</a> de Imperio Gamer </p>
          </div>

          <div class="seccion-resumen"> 
          <h4> Tus productos </h4>
          </div> 

          <div class="desglose-container">
             
          <div class="desglose-productos"> 
              
              
              <div class="productos"> 
              <h6 class ="nombre-juego"> Final Fantasy VII</h5>
                  <img src="\images\productos-usuario\FINAL-FANTASY-VII-Remake-Deluxe-Edition.JPG" alt="Final Fntasy" class="thumbnails"> <br>
                  <span>Precio: $ 7500</span>
              </div>
    
              <div class="productos"> 
              <h6> Platinum Headset</h6>
              <img src="\images\productos-usuario\headset.jpg" alt="Platinum Headset" class="thumbnails"> <br>
              <span>Precio: $ 7500</span>
              </div>
    
              <div class="productos">
              <h6> Final Fantasy VII</h6>
                  <img src="\images\productos-usuario\resident-evi-3-ps4.PNG" alt="" class="thumbnails"> <br>
                  <span>Precio: $ 7500</span>
              </div>
            </div>
            </div>

            

           </div>
              

           <div id="costo-total">
            <span id="monto-total"><strong> Total:</strong>$22500<span>   
           </div>

        

        </aside>

        
          
      
    </main>
 
<!-- footer begins-->
<%- include('./partials/footerCarrito') %>
<!-- footer ends-->
  
    </body>
  </html>