<!DOCTYPE html>
<html>
  <%- include('../partials/headCarrito') %> 
    <body>
  <div class ="container"> 

    <%- include('../partials/headerCarrito') %> 
  
    <div> 
      <a href="#" id="tus-productos"> <div>  Esta es tu compra </div> </a>
      <a href="#" id="fin-transaccion" > <div>  Finalizá tu compra  </div> </a>
    </div>

    
    <main>
      <div id="texto-main"> 
      <h2> ¡Muchas gracias por tu compra!</h2>
      <img src="\images\tarjetas-credito-carrito\carrito.png" alt ="hombre con carrito vacio">
      <p> Disfrutá los productos que adquiriste en Imperio Gamer </p>

      <form action="https://google.com">
      <button type="button"><a id="iniciar-compra" href="/">¡Hacé clic acá para seguir comprando!</a></button>
      </form>

      
    </div>
    </main>
 
    <%- include('../partials/footerCarrito') %> 
  
  
  
  </div>
  
    </body>
  </html>