<!DOCTYPE html>
<html>
  <head>
    <title>Imperio Gamer</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Carrito</h1>
    <p>Finalizá tu compra</p>
  </body>
</html>