<!DOCTYPE html>
<html>
  <head>
    <title>Imperio Gamer</title>
    <link rel='stylesheet' href='\stylesheets\carrito\carrito-productos.css' />
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
  </head>
    <body>
  <div class ="container"> 

      <header>
        <div id = "header-containers"> 
            <img id="logo" src="\images\tarjetas-credito-carrito\game-1926906_1280.png">  
        </div>  
        
        <div id= "links">
        <a href="#"> Ingresar </a>
        <a href="#"> Registro </a>
        <a href="#"> Volver al inicio </a>
      </div>

    </header>
  
    <nav> 
      <a href="#" id="tus-productos"> <div>  Esta es tu compra </div> </a>
      <a href="#" id="fin-transaccion" > <div>  Finaliza tu compra  </div> </a>
    </nav>

    
    <main>
        <section> 
          
          <div class="productos-container">
        <article id ="producto1" class= "productos">
            <div class ="imagen-producto-container"> 
                <img class="imagen-producto" src="\images\productos-usuario\resident-evi-3-ps4.PNG" alt="resident evil 3">

                <div class="datos-producto">
                    <span> Juego: Resident evil 3</span><br>
                    <span> Plataforma: Playstation 4</span><br>
                    <span>Precio por unidad: $6999</span><br>
                    <span>Cantidad:</span>
                    
                    <input type="number" value="1" min="1" max="10" id = "number-button"> <br>
                    <input class ="button" type="button" value="Eliminar producto" id="eliminar"></input>
                </div>

                <div id ="precio-producto"> 
                    <span>Total</span>
                    <span> $6999</span>
                </div>
            </div>
          
                
    
               
          </article>


        <article id ="producto2" class= "productos">
            <div class ="imagen-producto-container"> 
                <img class= "imagen-producto" src="\images\productos-usuario\FINAL-FANTASY-VII-Remake-Deluxe-Edition.jpg" alt="Final Fantasy VII">

                <div class="datos-producto">
                    <span> Juego: Final Fantasy VII</span><br>
                    <span> Plataforma: Playstation 4</span><br>
                    <span>Precio por unidad: $7500</span><br>
                    <span>Cantidad:</span>
                    <input type="number" value="1" min="1" max="10" id = "number-button"> <br>
                    <input class ="button" type="button" value="Eliminar producto" id="eliminar"></input>
                </div>

                <div id ="precio-producto"> 
                    <span>Total</span>
                    <span> $7500 </span>
                </div>
            </div>
               
        </article>


        <article id ="producto3" class= "productos">
          <div class ="imagen-producto-container"> 
              <img class="imagen-producto" src="\images\productos-usuario\headset.jpg" alt="headset">

              <div class="datos-producto">
                  <span> Accesorio: Platinum Headset</span><br>
                  <span> Plataforma: Playstation 4</span><br>
                  <span>Precio por unidad: $6200</span><br>
                  <span>Cantidad:</span>
                  <input type="number" value="1" min="1" max="10" id = "number-button"> <br>
                  <input class ="button" type="button" value="Eliminar producto" id="eliminar"></input>
              </div>

              <div id ="precio-producto"> 
                  <span>Total</span>
                  <span> $6200 </span>
              </div>
          </div>
             
      </article>

      
      </div>
<aside id="total">
  
        <h3> Total</h2>

          <div id="cupon">
            <h4>¿Tenés códigos promocionales? </h4>
            <input type="text" placeholder="Ingresalo acá" id="btn-aplicar" > 
            <input type="button" value="Aplicar" id="boton-Aplicar"> 
           </div>

           <div id="total-descuentos">
            <span><strong> Subtotal:</strong> $22500 <span><br>
              <span><strong>Descuentos:</strong> 0 <span> <br>
                <hr>
                <span><strong>Total:</strong> $22500<span><br>
           </div>

           <button class="finalizar-transaccion"> <a href="http://localhost:3000/carrito/fin-compra#"> Continuar con el pago </a></button> 

           <div id="codigos">
            <h6>¿Querés seguir comprando? </h6>
            <input class ="button" type="button" value="Ver Más" id="ver-mas"></input> 
           </div>

        </aside>
      </section>

      
      
    </main>
 
    <footer>
          
     <div id="tarjetas-de-credito">
      <p> Pagá al contado o en cuotas con las siguientes tarjetas de crédito:
      </p>  
      <img src="\images\tarjetas-credito-carrito\american.PNG" alt ="logo american express">
      <img src="\images\tarjetas-credito-carrito\mastercard.png" alt ="logo mastercard">
      <img src="\images\tarjetas-credito-carrito\visa.PNG" alt ="logo visa">
     </div>
  

    <div id="copyright">
      <span>
        © 2019 TODOS LOS DERECHOS RESERVADOS. 
      </span>
    </div>

    
    </footer>
  
  
  
  </div>
  
    </body>
  </html>