<!DOCTYPE html>
<html>
  <head>
    <title>Imperio Gamer</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Registrate</h1>
    <p>Ingresá tus datos y empezá a comprar</p>
  </body>
</html>