<!DOCTYPE html>
<html>
  <head>
    <title>Imperio Gamer</title>
    <link rel="stylesheet" href="stylesheets/home.css">
    
  </head>
  <body>
    <header>

    </header>

    <div id="logo-container">
      <img src="../img//wallpaperkigdom3.jpg" alt="Residen Evil">
    </div>

    <main class="contenedor-articulos">
      <div class="contenedor2articulos">
        <article class="articulo">
            <img src="../img/icono-juego.svg" alt="">
        </article>

        <article class="articulo">
          <img src="../img/resident_evil_3.jpg" alt="">
        </article>

        <article class="articulo">
          <img src="../img/wallpaperkigdom3.jpg" alt="">
        </article>

        <article class="articulo">
          <img src="../img/blanco.jpg" alt="">
        </article>
      </div>

      <div class="contenedor-ofertas">
        <h2>OFERTAS</h2>

        <article class="articulo">
          <img src="../img/blanco.jpg" alt="">
        </article>

        <article class="articulo">
          <img src="../img/blanco.jpg" alt="">
        </article>

        <article class="articulo">
          <img src="../img/blanco.jpg" alt="">
        </article>

        <article class="articulo">
          <img src="../img/blanco.jpg" alt="">
        </article>
      </div>

      <div class="contenedor-categorias">

        <h2>CATEGORIAS</h2>
        <article class="articulo">
          <img src="../img/blanco.jpg" alt="">
        </article>

        <article class="articulo">
          <img src="../img/blanco.jpg" alt="">
        </article>

        <article class="articulo">
          <img src="../img/blanco.jpg" alt="">
        </article>

        <article class="articulo">
          <img src="../img/blanco.jpg" alt="">
        </article>
      </div>
    </main>

    <footer>
      
    </footer>
  </body>
</html>
