<!DOCTYPE html>
<html>
  <head>
    <title>Imperio Gamer</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Nuestro Sitio</h1>
    <p>Bienvenidos a Imperio Gamer</p>
  </body>
</html>
