<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imperio Gamer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/home/home.css">
    
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark menu  ">
        <a class="navbar-brand" href="#"><img src="../imagenes-home/icono.jpg" alt=""></a>
        <button class="navbar-toggler boton-menu" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon imagen-menu"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav  barra-menu">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ofertas</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categorías
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Juegos</a>
                <a class="dropdown-item" href="#">Consolas</a>
                <a class="dropdown-item" href="#">Monitores</a>
                <a class="dropdown-item" href="#">Sillas</a>
                <a class="dropdown-item" href="#">Accesorios</a>
              </div>
              <li class="nav-item">
                <a class="nav-link" href="#">Contactanos</a>
              </li>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Ingresar</a>
            </li>
            <ul class="navbar-nav barra-menu ocultar-carrito">
              <li class="nav-item">
                <a class="nav-link" href="#">Carrito</a>
              </li>
            </ul> 
          </ul>
          <form class="form-inline my-2 my-lg-0 barra">
            <input class="form-control mr-sm-2  barra-busqueda" type="search" placeholder="Escribe Aqui" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 btn-buscar" type="submit">Buscar</button>
          </form>
          </ul>  
          <ul class="navbar-nav barra-menu icono-carrito">
            <li class="nav-item">
              <a class="nav-link" href="#"><img id="carrito" src="../imagenes-home/icono-carrito.svg" alt="icono-login"></a>
            </li>
          </ul> 
          
        </ul>
        </div>
      </nav>
    </header>
    
    <div id="carouselExampleIndicators" class="carousel slide imagenes-principales" data-ride="carousel">
      <div class="titulo-principal">
        <h1>Últimos Lanzamientos</h1>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="#"><img src="./imagenes-home/residentevil3remake.png" class="d-block w-100" alt="..."></a> 
        </div>
        <div class="carousel-item">
          <a href="#"><img src="./imagenes-home/halowallpaper.jpg" class="d-block w-100" alt="..."></a> 
        </div>
        <div class="carousel-item">
          <a href="#"><img src="./imagenes-home/Destiny2wallpaper.jpg" class="d-block w-100" alt="..."></a> 
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="titulo-secundario">
      <h2>Los Más Populares</h2>
    </div>

    <div class="container">
      <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
              <div class="producto">
                <h3 class="titulo">Destiny 2</h3>
                <a href="#"><img class="producto-img" src="./imagenes-home/destiny2.png" alt="Destiny_2"></a>
              </div>
            </div>
                
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
              <div class="producto">
                <h3 class="titulo">Assassins Creed</h3>
                <a href="#"><img class="producto-img" src="./imagenes-home/assassins_creed.jpg" alt="assassins_creed"></a>
              </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
              <div class="producto">
                <h3 class="titulo">The Walking Dead</h3>
                <a href="#"><img class="producto-img" src="./imagenes-home/the_walkin_dead.jpg" alt="the_walkin_dead"></a>
              </div>
            </div>
                
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
              <div class="producto">
                <h3 class="titulo">Uncharted 4</h3>
                <a href="#"><img class="producto-img" src="./imagenes-home/uncharted4.jpg" alt="uncharted_4"></a>
              </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
              <div class="producto">
                <h3 class="titulo">Tomb Raider</h3>
                <a href="#"><img class="producto-img" src="./imagenes-home/tomb_raider.jpg" alt="Tomb_Raider"></a>
              </div>  
            </div>
                
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
              <div class="producto">
                <h3 class="titulo">Until Dawn</h3>
                <a href="#"><img class="producto-img" src="./imagenes-home/until_down.jpg" alt="Until_down"></a>
              </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 esconder">
              <div class="producto">
                <h3 class="titulo">Resident Evil 2</h3>
                <a href="#"><img class="producto-img" src="./imagenes-home/residen-evil-2.jpg" alt="residen-evil-2"></a>
              </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 esconder" >
              <div class="producto">
                <h3 class="titulo">Borderlands3</h3>
                <a href="#"><img class="producto-img" src="./imagenes-home/borderlands3.jpg" alt="Until_down"></a>
              </div>
            </div>
    </div>
  </div>
  
  <div class="titulo-ofertas">
    <h2>OFERTAS</h2>
  </div-titulo-ofertas>

  <div class="container">
    <div class="row">
      <div id="carousel" class="carousel slide carousel-ofertas" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="d-none d-lg-block">
              <div class="slide-box">
                <img src="./imagenes-home/ofertas-img/final-fantasy-7-oferta.jpg" alt="First slide">
                <img class="icono-oferta" src="./imagenes-home/ofertas-img/oferta15.png" alt="icono-oferta">
                <img src="./imagenes-home/ofertas-img/fifa20-oferta.jpg" alt="First slide">
                <img class="icono-oferta2" src="./imagenes-home/ofertas-img/oferta25.png" alt="icono-oferta">
                <img src="./imagenes-home/ofertas-img/call-of-duty-oferta.png" alt="First slide">
                <img class="icono-oferta3" src="./imagenes-home/ofertas-img/oferta35.png" alt="icono-oferta">
                <img src="./imagenes-home/ofertas-img/mortal-kombat-oferta.jpg" alt="First slide">
                <img class="icono-oferta4" src="./imagenes-home/ofertas-img/oferta40.png" alt="icono-oferta">
              </div>
            </div>
            <div class="d-none d-md-block d-lg-none">
              <div class="slide-box">
                <img src="./imagenes-home/ofertas-img/final-fantasy-7-oferta.jpg" alt="First slide">
                <img class="icono-oferta" src="./imagenes-home/ofertas-img/oferta10.png" alt="icono-oferta">
                <img src="./imagenes-home/ofertas-img/call-of-duty-oferta.png" alt="First slide">
                <img class="icono-oferta2" src="./imagenes-home/ofertas-img/oferta35.png" alt="icono-oferta">
                <img src="./imagenes-home/ofertas-img/god-of-war-oferta.jpg" alt="First slide">
                <img class="icono-oferta3" src="./imagenes-home/ofertas-img/oferta15.png" alt="icono-oferta">
              </div>
            </div>
            <div class="d-none d-sm-block d-md-none">
              <div class="slide-box">
                <img src="./imagenes-home/ofertas-img/final-fantasy-7-oferta.jpg" alt="First slide">
                <img class="icono-oferta" src="./imagenes-home/ofertas-img/oferta25.png" alt="icono-oferta">
                <img src="./imagenes-home/ofertas-img/fifa20-oferta.jpg" alt="First slide">
                <img class="icono-oferta2" src="./imagenes-home/ofertas-img/oferta10.png" alt="icono-oferta">
              </div>
            </div>
            <div class="d-block d-sm-none">
              <img class="d-block w-100" src="./imagenes-home/ofertas-img/final-fantasy-7-oferta.jpg" alt="First slide">
              <img class="icono-oferta" src="./imagenes-home/ofertas-img/oferta10.png" alt="icono-oferta">
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-none d-lg-block">
              <div class="slide-box">
                <img src="./imagenes-home/ofertas-img/spiderman-oferta.jpg" alt="Second slide">
                <img class="icono-oferta" src="./imagenes-home/ofertas-img/oferta50.png" alt="icono-oferta">
                <img src="./imagenes-home/ofertas-img/thelatsofus-2-oferta.jpg" alt="Second slide">
                <img class="icono-oferta2" src="./imagenes-home/ofertas-img/oferta5.png" alt="icono-oferta">
                <img src="./imagenes-home/ofertas-img/god-of-war-oferta.jpg" alt="Second slide">
                <img class="icono-oferta3" src="./imagenes-home/ofertas-img/oferta15.png" alt="icono-oferta">
                <img src="./imagenes-home/ofertas-img/dragonball-oferta.jpg" alt="Second slide">
                <img class="icono-oferta4" src="./imagenes-home/ofertas-img/oferta35.png" alt="icono-oferta">
              </div>
            </div>
            <div class="d-none d-md-block d-lg-none">
              <div class="slide-box">
                <img src="./imagenes-home/ofertas-img/spiderman-oferta.jpg" alt="Second slide">
                <img class="icono-oferta" src="./imagenes-home/ofertas-img/oferta25.png" alt="icono-oferta">
                <img src="./imagenes-home/ofertas-img/thelatsofus-2-oferta.jpg" alt="Second slide">
                <img class="icono-oferta2" src="./imagenes-home/ofertas-img/oferta5.png" alt="icono-oferta">
                <img src="./imagenes-home/ofertas-img/fifa20-oferta.jpg" alt="Second slide">
                <img class="icono-oferta3" src="./imagenes-home/ofertas-img/oferta50.png" alt="icono-oferta">
              </div>
            </div>
            <div class="d-none d-sm-block d-md-none">
              <div class="slide-box">
                <img src="./imagenes-home/ofertas-img/god-of-war-oferta.jpg" alt="Second slide">
                <img class="icono-oferta" src="./imagenes-home/ofertas-img/oferta35.png" alt="icono-oferta">
                <img src="./imagenes-home/ofertas-img/call-of-duty-oferta.png" alt="Second slide">
                <img class="icono-oferta2" src="./imagenes-home/ofertas-img/oferta15.png" alt="icono-oferta">
              </div>
            </div>
            <div class="d-block d-sm-none">
              <img class=" w-100" src="./imagenes-home/ofertas-img/fifa20-oferta.jpg" alt="Second slide">
              <img class="icono-oferta" src="./imagenes-home/ofertas-img/oferta25.png" alt="icono-oferta">
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

  <footer class="row">
    <article class="col-12 col-lg-4">
        <div>
          <span>Encontranos en:</span>    
          <img src="images/lucas/img/footer/facebook.jpg" alt="facebook" width="30" height="30">
          <img src="images/lucas/img/footer/instagram.jpg" alt="instagram" width="30" height="30">
          <img src="images/lucas/img/footer/twitter.jpg" alt="twitter" width="30" height="30">
        </div>
        <span>© Imperio Gamer 2020 - Todos los derechos reservados</span>
    </article>
    <article class="col-12 col-lg-4">
        <a href="">Nosotros</a>
        <a href="">Ayuda</a>
        <a href="">Políticas de privacidad</a>
    </article>
    <article class="tarjetas col-12 col-lg-4">
        <svg class="bi bi-credit-card" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M14 3H2a1 1 0 00-1 1v8a1 1 0 001 1h12a1 1 0 001-1V4a1 1 0 00-1-1zM2 2a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V4a2 2 0 00-2-2H2z" clip-rule="evenodd"/>
            <rect width="3" height="3" x="2" y="9" rx="1"/>
            <path d="M1 5h14v2H1z"/>
        </svg>
        <p>¡Podés pagar con nuestras tarjetas seleccionadas en cuotas y sin interés!</p>
    </article>
</footer>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
