<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark menu  ">
          <a class="navbar-brand" href="#"><img src="../imagenes-home/icono.jpg" alt=""></a>
          <button class="navbar-toggler boton-menu" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon imagen-menu"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  barra-menu">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Ofertas</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Categorías
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Juegos</a>
                  <a class="dropdown-item" href="#">Consolas</a>
                  <a class="dropdown-item" href="#">Monitores</a>
                  <a class="dropdown-item" href="#">Sillas</a>
                  <a class="dropdown-item" href="#">Accesorios</a>
                </div>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contactanos</a>
                </li>
              </li>
  
              <li class="nav-item">
                <a class="nav-link" href="/ingreso-usuario">Ingresar</a>
              </li>
              <ul class="navbar-nav barra-menu ocultar-carrito">
                <li class="nav-item">
                  <a class="nav-link" href="/carrito">Carrito</a>
                </li>
              </ul> 
            </ul>
            <form class="form-inline my-2 my-lg-0 barra">
              <input class="form-control mr-sm-2  barra-busqueda" type="search" placeholder="Escribe Aquí" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0 btn-buscar" type="submit">Buscar</button>
            </form>
            </ul>  
            <ul class="navbar-nav barra-menu icono-carrito">
              <li class="nav-item">
                <a class="nav-link" href="/carrito"><img id="carrito-nav" src="../imagenes-home/icono-carrito.svg" alt="icono-login"></a>
              </li>
            </ul> 
            
          </ul>
          </div>
        </nav>
      </header> 
    <div class="usuario">
        <form action="" class="ingreso-usuario"> 
            <article><svg class="bi bi-person-fill" width="10em" height="10em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
            </svg></article>
            <input class="formulario-usuario" type="text" id="login" name="login" placeholder="Ingrese su número o correo" required>
            <input class="formulario-usuario" type="password" id="password" name="password" placeholder="Contraseña" required>
            <button class="btn btn-primary" id="btn-usuario">Ingresar</button>
        </form>
        <div class="span-usuario">
            <span class="contraseña">¿No recuerda la contraseña? <a href="">Restablecer contraseña</a></span>
            <span>¿Todavía no tenes Usuario?</span>
            <span>No te preocupes, haz click en <a href="/registrate">Registrarse</a> y forma parte de esta Gran comunidad!!</span>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>