<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="../stylesheets/product-create/product-create.css">
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
  <title>Panel</title>
</head>
<body>
  <div class="container" >
    <header>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h1>Control De productos ImperioGamer!!</h1>
            <img class="mando" src="../imagenes-carga-productos/mando.png" alt="mando">
          </div>
        </div>
      </div>
    </header>

    <h2>Informacion Del Producto</h2>
    <form class="was-validated" enctype="multipart/form-data" method="POST" action="/products">

      <div class="row">
        <div class="col-4">
          <label for="codigo">Sección</label>
          <input type="text" class="form-control is-invalid " id="codigo" name="section"  required>
        </div>  

        <div class="col-8">
          <label for="titulo">Titulo</label>
          <input type="text" class="form-control is-invalid" id="codigo" name="name" required>
        </div>  
      </div>

      <div class="row">
        <div class="col-4">
          <label for="categoria">Categoria</label>
          
            <select class="custom-select" name="category"required>
              <option value="" >Seleccion la Categoria</option>
              <option value = "1">Juego</option>
              <option value = "2">Consola</option>
              <option value = "3">Pc Gamer</option>
              <option value = "4">Sillas</option>
              <option value = "5" >Accesorios</option>
            </select>
            <div class="invalid-feedback">Por favor Selecciona Una Opcion</div>
          
        </div>   

        <div class="col-8">
          <label for="validationTextarea">Descripcion</label>
          <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Ingresa Aqui la Descripcion" name="description" required></textarea>
        </div>


        <div class="col-4">
          <label for="plataforma">Plataforma</label>
          <div class="form-group">
            <select class="custom-select" name="plataforma"required>
              <option >Seleccion la Plataforma</option>
              <option value="1">PlayStation</option>
              <option value="2">X-Box</option>
              <option value="3">PC</option>
            </select>
            <div class="invalid-feedback">Por favor Selecciona Una Opcion</div>
          </div>
        </div> 

        <div class="col-4">
          <label for="plataforma">Idioma</label>
          <div class="form-group">
            <select class="custom-select" name="idioma"required>
              <option >Seleccion la Plataforma</option>
              <option value="1">Español</option>
              <option value="2">Inglés</option>
              <option value="3">Japonés</option>
            </select>
            <div class="invalid-feedback">Por favor Selecciona Una Opcion</div>
          </div>
        </div> 

        <div class="col-4">
          <label for="Precio">Precio</label>
          <input type="number" class="form-control is-invalid " id="Precio" name="price"  required>
        </div> 

          
      </div>

      <div class="row">
 

        <div class="col-4">
          <label for="Precio">Descuento</label>
          <input type="number" class="form-control is-invalid " id="oferta" name="discount"  required>
        </div> 
      </div>

      <div class="col-4">
          <label for="image">Imagenes</label>
          <input type="file"  name="image" required>
      </div>   

        <div class="container-bt col-4">
            <button class="boton-enviar" type="submit">Guardar producto</button>
        </div>
      
      
    </form>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>