<!DOCTYPE html>
<html>
  <!-- head-->
  <%- include('./partials/headCarritoVacio') %>
  <!-- head-->
    <body>
  <div class ="container"> 
<!-- header navBar-->
<%- include('./partials/headerCarrito') %>
<!-- headernavBar-->  

    
    <main>
      <div id="texto-main"> 
      <h2> ¡Tu carrito está vacío!</h2>
      <img src="\images\tarjetas-credito-carrito\carrito.png" alt ="hombre con carrito vacio">
      <p> No te pierdas lo último en entretenimiento digital. </p>

      <form action="https://google.com">
      <button type="button"><a href="/">¡Hacé clic acá para empezar tu compra!</a></button>
      </form>

      
    </div>
    </main>
 
<!-- footer begins-->
<%- include('./partials/footerCarrito') %>
<!-- footer ends-->
   
  
    </body>
  </html>