<!DOCTYPE html>
<html>
  <head>
    <title>Imperio Gamer</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>El producto que elegiste</h1>
    <p>Acá podés ver la descripción del producto que elegiste</p>
  </body>
</html>