<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/carga-productos/carga-productos.css">
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
  <title>Panel</title>
</head>
<body>
  <div class="container">
    <header>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h1>Control De productos ImperioGamer!!</h1>
            <img class="mando" src="../imagenes-carga-productos/mando.png" alt="mando">
          </div>
        </div>
      </div>
    </header>

    <h2>Informacion Del Producto</h2>
    <form class="was-validated">

      <div class="row">
        <div class="col-4">
          <label for="codigo">Codigo</label>
          <input type="text" class="form-control is-invalid " id="codigo" name="codigo"  required>
        </div>  

        <div class="col-8">
          <label for="titulo">Titulo</label>
          <input type="text" class="form-control is-invalid" id="codigo" required>
        </div>  
      </div>

      <div class="row">
        <div class="col-4">
          <label for="marca">Marca</label>
          <input type="text" class="form-control is-invalid" id="marca" name="marca"  required>
        </div>  

        <div class="col-4">
          <label for="modelo">Modelo</label>
          <input type="text" class="form-control is-invalid" id="modelo" required>
        </div>  

        <div class="col-4">
          <label for="color">Color</label>
          <div class="form-group">
            <select class="custom-select" required>
              <option value="">Seleccion tu color</option>
              <option value="1">Amarillo</option>
              <option value="2">Azul</option>
              <option value="3">Blanco</option>
              <option value="4">Celeste</option>
              <option value="5">Dorado</option>
              <option value="6">Fucsia</option>
              <option value="7">Gris Claro</option>
              <option value="8">Gris Oscuro</option>
              <option value="9">Marron</option>
              <option value="10">Naranja</option>
              <option value="11">Negro</option>
              <option value="12">Plateado</option>
              <option value="13">Rojo</option>
              <option value="14">Verde</option>
              <option value="15">Violeta</option>
              <option value="16">Otro</option>
            </select>
            <div class="invalid-feedback">Por favor Selecciona Uno</div>
          </div>
        </div>  
      </div>

      <div class="row">

        <div class="col-4">
          <label for="Precio">Precio</label>
          <input type="text" class="form-control is-invalid " id="Precio" name="Precio"  required>
        </div> 

        <div class="col-4">
            <label for="proveedor">Proveedor</label>

            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" id="Microsoft" name="radio-stacked" required>
              <label class="custom-control-label" for="Microsoft">Microsoft</label>
            </div>

            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" id="Sony" name="radio-stacked" required>
              <label class="custom-control-label" for="Sony">Sony</label>
            </div>

            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" id="Nintendo" name="radio-stacked" required>
              <label class="custom-control-label" for="Nintendo">Nintendo</label>
              <div class="invalid-feedback">Seleccion Uno</div>
            </div>
        </div>

        <div class="col-4">
          <label for="si">¿Tiene Garantia?</label><br>
          <input type="radio" id="Si" name="garantia" required>Si<br>
          <input type="radio" id="Si" name="garantia" required>No<br>
        </div>  
      </div>

      <div class="row">
        <div class="col-4">
          <form>
            <div class="form-group">
              <label for="exampleFormControlFile1">Imagenes</label>
              <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
          </form>
        </div>

        <div class="col-4">
          <form>
            <div class="form-group">
              <label for="exampleFormControlFile1">Video</label>
              <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <button class="boton-enviar" type="submit">Enviar</button>
          </form>
        </div>
      </div>
      
    </form>

    <div class="container historial">
      <div class="row">
        <div class="col-12">
          <h2 class="titulo-historial">Historial Subida De Productos</h2>
        </div>
      </div>
    </div>
  </div>  

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>