<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="/stylesheets/registro.css" rel="stylesheet">
<body>
    <form action="" id="registro-usuario"> 
        <h3>Ingrese sus datos</h3>
        <label class="label-datos-comprador">Nombres</label>
        <input class="formulario-datos-usuario" type="text" id="nombre" name="nombre">
        <label class="label-datos-comprador">Apellido</label>
        <input class="formulario-datos-usuario" type="text" id="apellido" name="apellido">
        <label class="label-datos-comprador">DNI</label>
        <input class="formulario-datos-usuario" type="numner" id="dni" name="DNI">
        <label class="label-datos-comprador">Dirección</label>
        <input class="formulario-datos-usuario" type="text" id="direccion" name="direccion">
        <label>Localidad/Barrio</label>
        <input class="formulario-datos-usuario" type="text" id="localidad" name="localidad">
        <label class="label-datos-comprador">Provincia</label>
        <input class="formulario-datos-usuario" type="text" id="provincia" name="provincia">
        <label class="label-datos-comprador">Teléfono</label>
        <input class="formulario-datos-usuario" type="text" id="telefono" name="telefono">
        <label class="label-datos-comprador">Correo electrónico</label>
        <input class="formulario-datos-usuario" type="text" id="email" name="email">
        <label class="label-datos-comprador">Contraseña</label>
        <input class="formulario-datos-usuario" type="password" id="password" name="password">
        <button class="btn btn-primary">Registrarse</button><br>
        <button class="btn btn-primary"><a href="/">Volver a Inicio</a></button>
    </form>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>