<header>
    <div id = "logo-container"> 
        <img id="logo" src="\images\tarjetas-credito-carrito\game-1926906_1280.png">  
    </div>  
    
    <div id= "links">
    <a href="#"> Ingreso </a>
    <a href="#"> Registro </a>
    <a href="#"> Inicio </a>
  </div>

</header>

<div> 
  <a href="#" id="tus-productos"> <div>  Esta es tu compra </div> </a>
  <a href="#" id="fin-transaccion" > <div>  Finalizá tu compra  </div> </a>
</div>